/* UNIVERSAL SELECTOR */
* {
	margin: 0;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	box-sizing: border-box;
	font-size: 18px;
}

/* ELEMENT-WIDE STYLING */
	header
	{
		padding: 20px 15px;
		background-image: url('img/header bg.png');
		background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	}

	body
	{
		background: #EFF2FF;
	}

	h2
	{
		font-size: 50px;
		font-weight: bold;
		text-transform: capitalize;
	}

	i
	{
		color: white;
	}

	i:hover
	{
		color: #1301fe;
	}

	img
	{
		width: 100%;
	}

	footer
	{
		background: #03182D;
		color: white;
	}

/* TEXT CUSTOMIZATION */
	.heading1
	{
		font-size: 4rem;
		font-weight: bold;
		line-height: 133px;
		text-transform: uppercase;
		color: white;
	}

	.heading2
	{
		font-size: 36px;
		font-weight: bold;
		text-transform: capitalize;
	}

	.contact-text h2
	{
		font-size: 2.9rem;
	    font-weight: 800;
	}

	.contact-text p, .contact-text span
	{
	    font-weight: 300;
	    font-size: 22px;
	    line-height: 36px;
	}

	.contact-text a
	{
	    font-size: 22px;
	    line-height: 36px;
	    color: #1304fe;
	}

	.text-style h1
	{
		font-size: 2.4rem;
	    line-height: 80px;
		font-weight: bold;
		color: white;
	}

	.text-style p
	{
		font-size: 1.2rem;
	    line-height: 50px;
		color: white;
	}

	.subtitle
	{
		font-size: 2rem;
		line-height: 50px;
	    font-weight: normal;
		color: white;
	}

	.text-style h2
	{
		font-size: 1.5rem;
		line-height: 50px;
		font-weight: normal;
		color: white;
		text-transform: none;
	}

	.separator
	{
		width: 10%;
		height: 5px;
		border-radius: 10px 10px 0 0;
		background-color: #0000FF;
		margin-bottom: 100px;
	}

	.separator1
	{
		width: 20%;
		height: 5px;
		border-radius: 20px;
		background-color: #0000FF;
	}

	.separator2
	{
		width: 25%;
		height: 5px;
		border-radius: 20px;
		background-color: #0000FF;
	}

	.separator3
	{
		width: 5%;
		height: 5px;
		border-radius: 20px;
		background-color: #0000FF;
	}

	.hover-txt h3
	{
		font-size: 23px;
		font-weight: bold;
	}

	.hover-txt p
	{
		font-size: 20px;
	}

	.hover-twitter
	{
		font-size: 22px;
		font-weight: bold;
	}

	.about-txt p
	{
		font-size: 20px;
		line-height: 40px;
	}

	.carousel .testimonial 
	{
		font-style: italic;
		color: #c4c8cb;
	}

	.carousel .overview
	{	
		font-weight: 500;
	}

	.capsule-text h3
	{
		font-weight: 40px;
		font-weight: bold;
		color: #002eb2;
	}

	.capsule-text p
	{
		font-size: 30px;
		font-weight: 300;
	}

	.intro-section p
	{
		font-size: 26px;
	    font-weight: 300;
	    line-height: 50px;
	}

	.pill ul li
	{
		font-size: 16px;
		line-height: 45px;
		font-weight: 300;
	}

	.pill h3
	{
		font-weight: 600;
		font-size: 28px;
	}

	.content-text
	{
		font-size: 16px;
		color: grey;
		font-weight: 300;
		line-height: 30px;
	}

	.content-box .blue
	{
		font-size: 32px;
	}

	.blue
	{
		color: #002eb2;
	}

	.subtitle2
	{
	    font-size: 20px;
	    font-weight: 600;
	}

/* BUTTON */
	.btn-primary
	{
		font-size: 26px;
		text-transform: uppercase;
		font-weight: bold;
		background-color: #1301fe;
		padding: 1.5% 4%;
		border: none;
	    border-radius: 9px;
	}

	.btn-primary:hover
	{
		background-color: transparent;
		border: 2px solid #1301fe;
		color: #1301fe;
	}

	.actives button
	{
		background-color: #1301fe;
		border: 2px solid #1301fe;
		color: white;
	}

	.btn-outline-success:not(:disabled):not(.disabled):active
	{
	    color: #fff;
	    background-color: #1301fe;
		border-color: #1301fe;
	}

	.btn-outline-success:focus, .btn-outline-success.focus
	{
		box-shadow: 0 0 0 0.2rem rgba(90, 87, 136, 0.4);
	}

	.btn-outline-success
	{
		border-color: #0000FF;
		color: white;
		text-transform: uppercase;
		font-size: 20px;
		font-weight: bold;
	}

	.btn-outline-success:hover
	{
		background-color: #0000FF;
		border-color: #0000FF;
	}

/* NAVIGATION MENU */
	.logo
	{
		font-weight: bold;
		text-transform: uppercase;
		color: white;
	}

	.logo:hover
	{
		color: white;
	}

	.nav-item a
	{
		text-transform: uppercase;
		font-weight: bold;
		font-size: 20px;
		line-height: 33px;
		padding-bottom: 5px;
	}

	.navbar-nav li
	{
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.nav-item a:hover::after, .nav-item a:active::after, .actives a::after
	{
		content: '';
		background: #0000ff;
		border-radius: 10px 10px 0 0;
		height: 5px;
		display: block;
		margin-top: 2px !important;
	}

	.nav-item a:hover, .nav-item a
	{
		color: white !important;
	}

	.actives a
	{
		color: #1301fe !important;
	}

/***** HOME PAGE *****/
	/* HERO SECTION */
		.hero
		{
			background-color: #03182D;
			background-image: url('img/header banner.png');
			background-repeat: no-repeat;
		    background-position: top right;
		    background-size: auto;
		}

		.hero-section button
		{
			background-color: #1301fe;
			padding: 2% 5%;
			border: none;
		}

	/* INTRO SECTION */
		.pill
		{
			background-color: white;
			border-radius: 10px;
		}

		.pill img
		{
			width: auto;
		}

		.pill ul
		{
			list-style: none;
			padding-left: 0;
		}

		.pill ul li:before
		{
			content: '✓ ';
		}

	/* FESTIVAL SECTION */
		@media only screen and (min-width: 1024px)
		{
			.content-left
			{
				margin-left: -16%;
				margin-top: 100px;
			}

			.content-right
			{
				right: -200px;
			    margin-top: 100px;
			    z-index: 1;
			}

			.contact-section .row
			{
				padding-bottom: 200px;
			}
		}

		.content-box
		{
			background-color: white;
			border-radius: 15px;
			box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.14);
		}

	/* CONTACT SECTION */
		.contact-section
		{
			margin-top: 200px;
		}

		.margin
		{
			background: #03182D;
		}

/***** ABOUT PAGE *****/
	/* HEADER SECTION */
		.header-section
		{
			padding: 15% 0 23.5% 0;
		}

	/* ABOUT SECTION */
		.about-section
		{
			min-height: 600px;
			z-index: 1;
			margin-top: -100px;
		}

		.about-bg
		{
			background-image: url('img/banner2.png');
			background-size: cover;
		    background-position: center;
		    background-repeat: no-repeat;
			border-radius: 20px 0 0 20px;
		    min-height: inherit;
		}

		.about-txt
		{
			background-color: #03182D;
			color: white;
			border-radius: 0 20px 20px 0;
		}

	/* TEAM SECTION */
		.team-section
		{
			margin-top: 210px;
		}

		.team-section .col
		{
			height: 100%;
			background-color: #0d2a41;
			color: white;
		}

		.hover-img
		{
			opacity: 1;
			display: block;
			width: 100%;
			height: auto;
			transition: .5s ease;
			backface-visibility: hidden;
		}

		.hover-txt
		{
			transition: .5s ease;
			opacity: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			text-align: center;
		}

		.team-section .col:hover .hover-img
		{
			opacity: 0.1;
		}

		.team-section .col:hover .hover-txt
		{
			opacity: 1;
		}

		.fa
		{
			font-size: 20px;
			padding: 20px 5px 15px;
		}

		.team-info
		{
			background-color: #0d2a41;
			color: white;
			padding: 5px 0;
		}

	/* CLIENTS SECTION */
		.clients-section
		{
			margin-top: 210px;
			padding-bottom: 210px;
		}

		.clients-section .col-md-6
		{
		    margin: 30px 0;
		}

		.clients-section img
		{
			width: auto;
		}

	/* TESTIMONIALS SECTION */
		.testimonials
		{
			background-color: #03182D;
			color: white;
		}

		.col-center
		{
			margin: 0 auto;
			float: none !important;
		}
		
		.carousel
		{
			margin: 50px auto;
			padding: 0 70px;
		}
		
		.carousel .item
		{
			overflow: hidden;
		    min-height: 290px;
		}

		.carousel .overview
		{
			padding-top: 20px;
		    padding-bottom: 40px;
		}

		.carousel .carousel-control
		{
			width: 40px;
		    height: 40px;
		    margin-top: -20px;
		    top: 40%;
			background: none;
		}

		.carousel-control i
		{
		    font-size: 80px;
			line-height: 42px;
		    position: absolute;
		    display: inline-block;
		}

		.carousel .carousel-indicators
		{
			bottom: -40px;
		}

		.carousel-indicators li, .carousel-indicators li.active
		{
			width: 15px;
			height: 15px;
			margin: 1px 3px;
			border-radius: 50%;
		}

		.carousel-indicators li
		{
			background-color: #ffffff;
			border-color: transparent;
			opacity: .7;
		}

		.carousel-indicators li.active
		{
			background-color: #1202fc;
		}

/***** SERVICES PAGE *****/
	/* SERVICES & EVENTS SECTION */
		.capsule
		{
			border-radius: 15px;
			background-color: white;
			padding: 0;
		}

		.capsule-text
		{
			padding: 11%;
		}

		.capsule img
		{
			width: 100%;
		}

	/* WORKS SECTION */
		.works-section
		{
			padding-bottom: 150px;
		}

		.works-section img
		{
			width: 100%;
		}

		.img-margin
		{
			margin-top: 20%;
		}

		.works-section #works-hover:hover, .works-section #works-hover-top:hover, .works-section #works-hover-bottom:hover
		{
			height: 100%;
			background-color: #0d2a41;
			color: white;
		}

		.works-section #works-hover-top:hover, .works-section #works-hover-bottom:hover
		{
			height: 50%;
		}

		.works-section #works-hover:hover .hover-img, .works-section #works-hover-top:hover .hover-img, .works-section #works-hover-bottom:hover .hover-img
		{
			opacity: 0.1;
		}

		.works-section #works-hover:hover .hover-txt
		{
			opacity: 1;
		}

		.works-section #works-hover-top:hover .hover-txt
		{
			top: 30%;
			opacity: 1;
		}

		.works-section #works-hover-bottom:hover .hover-txt
		{
			top: 80%;
			opacity: 1;
		}

		.works-info
		{
			background-color: #0d2a41;
			color: white;
			padding: 5px 0;
		}

/***** CONTACT PAGE *****/
	.separators
	{
		display: flex;
	}

	.contact-form
	{
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.14), 0px 4px 20px rgba(0, 0, 0, 0.25);
	}

	.form-style
	{
		border-top: 0px;
		border-left: 0px;
		border-right: 0px;
	    border-radius: 0px;
	}

	.form-control:focus
	{
		border-color: #0000FF;
		box-shadow: 0 0 0 0.1rem rgb(19, 4, 254, 0.6);
	}

	.form-style:focus
	{
		border-color: #0000FF;
		border-top: 0px;
		border-left: 0px;
		border-right: 0px;
		border-width: 2px;
	    box-shadow: none;
	}

	.contacts-section
	{
		margin: 100px auto;
	}

/* FOOTER SECTION */
	.footer
	{
		background-image: url('img/footer.jpg');
	    background-size: cover;
	    padding: 15% 0;
	}

	footer .btn-primary:hover
	{
		color: white;
		border-color: white;
	}

	.copyright
	{
		border-top: 1px solid white;
	}

	.copyright a
	{
	    color: white;
	}

/* MOBILE DEVICES RESPONSIVENESS */
	@media only screen and (max-width: 470px)
	{
		.heading1
		{
			font-size: 36px
		}

		.subtitle
		{
	    	font-size: 26px;
		}

		.about-section
		{
			margin-top: 0;
		}

		.about-bg, .about-txt
		{
			border-radius: 0;
		}

		.separator
		{
	    	width: 30%;
		}

		.hero
		 {
		     background-position: center;
		 }

		 .team-info h3
		 {
		    font-size: 25px;
		 }

		 .works-info h3
		 {
		     font-size: 1.15rem;
		    font-weight: 600;
		 }
	}

/* IPHONE 5 SCREEN SIZE RESPONSIVENESS */
	@media only screen and (max-width: 320px)
		{
			.text-style h1
			{
			    font-size: 2rem;
			}
		}